@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.main-container {
    border: solid 1px #d5cdcd;
    padding: 20px;
    font-family: "Roboto";
    background-image: radial-gradient(circle at 50% 50%, #f0f0f0, #d5cdcd);
}

.wiki-search-header {
    border-width: 1px;
    border-style: dashed;
    border-color: #d5cdcd;
    padding-top: 30px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-left: 20px;
    margin-bottom: 40px;
}

.wiki-logo {
    margin-bottom: 30px;
    width: 150px;
}

.search-input {
    border: dotted 4px #2c4fcb;
    padding: 10px;
    border-width: 1px;
    border-style: solid;
    border-color: #d5cdcd;
    font-size: 18px;
    font-weight: bold;
    background-image: radial-gradient(circle at 50% 50%, #b8aaaa, #c59bce);
}

.search-results {
    width: 100%;
    padding-left: 20px;
    border:dotted 5px #2c4fcb;
    margin-top: 20px;
    background-image: radial-gradient(circle at 50% 50%, #91dcd2, #d5cdcd);
}

.result-item {
    margin-bottom: 20px;
}

.result-title {
    font-size: 22px;
}

.link-description {
    font-size: 15px;
    color: #866565;
}

.result-url {
    color: #006621;
    text-decoration: none;
}